.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}



.wanted-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.wanted-person{
    margin:10px;
    width: 30%;
    border: 1px solid black;
}

