.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.search-form{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-input{
    margin:10px;
}





.wanted-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}


.wanted-person{
    margin:10px;
    width: 30%;
    border: 1px solid black;
}

h1{
    text-align: center;
}

input{
    justify-content: center;
}

